<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Weather Data API</title>
</head>
<body>
	<h1>Weather Data API</h1>
	<p>URL format: http://127.0.0.1:5000/api/v1/station/date</p>
	<p>URL Example: <a href="http://127.0.0.1:5000/api/v1/10/19881025", target="_blank"> http://127.0.0.1:5000/api/v1/10/19881025</a></p>
	<p>URL Example(all data at 1 station): <a href="http://127.0.0.1:5000/api/v1/10", target="_blank"> http://127.0.0.1:5000/api/v1/10</a></p>
	<p>URL Example(1 year at 1 station): <a href="http://127.0.0.1:5000/api/v1/yearly/10/1980", target="_blank"> http://127.0.0.1:5000/api/v1/yearly/10/1980</a></p>
	<p>See below for station codes</p>
	<div>
		{{ table|safe }}
	</div>
</body>
</html>